// @import 'scss-reset/_reset.scss';

.blankMessage{
    margin: 0 15vw;
    font-family: sans-serif;
    padding: 2vw;
    h1{
        font-weight: bold;
        font-size: 2rem;
        margin: .5rem 0;
    }
    p {
        margin-bottom: 1rem;
    }
}